<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>

    <!--  实体类别名  -->
    <!--  在Mapper里简化resultType内容  -->
    <typeAliases>
        <!--type 设置全类名-->
        <typeAlias type="com.mybatis.pageoffset.pojo.User" alias="User"/>
    </typeAliases>

    <!--核心配置文件-->
    <!--配置jdbc环境-->
    <environments default="learn">
        <environment id="learn">
            <!--事务管理器 类型为jdbc-->
            <transactionManager type="JDBC"/>
            <!--数据源 数据库连接池-->
            <dataSource type="POOLED">
                <!--配置连接数据库时的信息-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--        <mapper resource="mapper/User.xml"/>-->
        <!--        <mapper resource="mapper/UserMapper.xml"/>-->
        <!--   使用包名扫描的方法  -->
        <package name="com.mybatis.pageoffset.mapper"/>
    </mappers>
</configuration>








































