<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.pageoffset.mapper.UserMapper">
    <select id="getCount" resultType="int">
        select count(1)
        from user
    </select>

    <select id="getAllInfo" resultType="User">
        select *
        from user
        limit #{offset},#{pageSize}
    </select>
    <select id="getInfoByParams" parameterType="User" resultType="User">
        select * from user
        <where>
            <if test="id!=null or id!=0">
                id = #{id}
            </if>
            <if test="username!=null and username != ''">
                and username like #{username}
            </if>
            <if test="password!=null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>
    <!--choose foreach trim -->

    <!--choose 选择语句 相当于Java中的switch语句-->
    <!--当when里面的条件都不满足时 执行otherwise里的语句-->
    <select id="chooseTest" resultType="User">
        select * from user
        <where>
            <choose>
                <when test="id!=null or id!=0">
                    id=#{id}
                </when>
                <when test="username!=null and username != ''">
                    and username=#{username}
                </when>
                <otherwise>
                    and password = #{password}
                </otherwise>
            </choose>
        </where>
    </select>
    <!--foreach 循环语句 适用于遍历数组 集合 Map中的值-->
    <!--collection 给定的集合-->
    <!--index Map中的key值-->
    <!--item 集合中的值 Map中的value值-->
    <!--open 拼sql中的左括号-->
    <!--separator 多个值间的分隔符-->
    <!--close 拼sql中的右括号-->
    <select id="foreachTest" resultType="User">
        select * from user
<!--        <where>-->
<!--            <if test="pwdList!=null and pwdList.size()!=0">-->
<!--            and password in-->
<!--                 <foreach collection="List"-->
<!--            </if>-->
<!--        </where>-->
    </select>
</mapper>