<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

利用接口代理
    1 需要UserMapper.xml
    2 mybatis-config.xml中添加映射配置

-->

<mapper namespace="com.mybatis.dao.UserDao">
<select id="getAllInfo" resultType="User">
    select *
    from user
</select>
</mapper>

















